body {
	background: url('/images/background.jpg');
}

.navbar-inverse .navbar-inner{
 	background-color: #0070d1;
 	
	background-image: -moz-linear-gradient(top, #0070d1, #00a9d1);
	background-image: -ms-linear-gradient(top, #0070d1, #00a9d1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0070d1), to(#00a9d1));
	background-image: -webkit-linear-gradient(top, #0070d1, #00a9d1);
	background-image: -o-linear-gradient(top, #0070d1, #00a9d1);
	background-image: linear-gradient(top, #0070d1, #00a9d1);
	background-repeat: repeat-x;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0070d1', endColorstr='#00a9d1', GradientType=0);
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #111111;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#footer {
	background-color: #0070d1;
 	
	background-image: -moz-linear-gradient(top, #0070d1, #00a9d1);
	background-image: -ms-linear-gradient(top, #0070d1, #00a9d1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0070d1), to(#00a9d1));
	background-image: -webkit-linear-gradient(top, #0070d1, #00a9d1);
	background-image: -o-linear-gradient(top, #0070d1, #00a9d1);
	background-image: linear-gradient(top, #0070d1, #00a9d1);
	background-repeat: repeat-x;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0070d1', endColorstr='#00a9d1', GradientType=0);
	
	border: thin solid black;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	color: #333333;
}

#footer p, #contenu p {
	margin: 0;
}

#inscription {
	z-index: 2;
	position: absolute;
	margin-left: 663px;
	margin-top: 9px;
	display: none;
	overflow: hidden;
	width: 257px;
}

#inscription .controls {
	margin-left: 0;
}

#inscription input, #inscription select {
	display: block;
	margin-bottom: 5px;
}

#contenu .erreur {
	background-color: #b70100;
 	
	background-image: -moz-linear-gradient(top, #b70100, #b71a00);
	background-image: -ms-linear-gradient(top, #b70100, #b71a00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b70100), to(#b71a00));
	background-image: -webkit-linear-gradient(top, #b70100, #b71a00);
	background-image: -o-linear-gradient(top, #b70100, #b71a00);
	background-image: linear-gradient(top, #b70100, #b71a00);
	background-repeat: repeat-x;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b70100', endColorstr='#b71a00', GradientType=0);
	
	color: white;
	font-weight: bold;
	padding: 5px;
	border: thin solid black;
	border-radius: 4px;
}

#connexion {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	margin-top: 4px;
	text-align: right;
}

#connexion button {
	margin: 0;
}

#contenu .row {
	margin-bottom: 20px;
}

.hero-unit {
	background: #D4E3FF;
}
